<div class="card">
  <h5 class="card-header">
    New local train
  </h5>

  <div class="card-body">
    <%= form_with model: @local do |form| %>
      <div class="mb-3">
        <%= form.label :name, { class: "form-label "} %>
        <%= form.text_field :name, { class: "form-control" } %>
        <% @local.errors.full_messages_for(:routing_tag).each do |message| %>
          <div class="alert alert-warning" role=alert><%= message %></div>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.label :routing_tag, { class: "form-label "} %>
        <%= form.text_field :routing_tag, { class: "form-control" } %>
        <% @local.errors.full_messages_for(:routing_tag).each do |message| %>
          <div class="alert alert-warning" role="alert"><%= message %></div>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.label :yard_id, "Local yard", { class: "form-label"} %>
        <%= form.collection_select :yard_id, Yard.order(:name), :id, :name, { }, { class: "form-select" } %>
        <% @local.errors.full_messages_for(:yard_id).each do |message| %>
          <div class="alert alert-warning" role="alert"><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.submit class: "btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>