<h1>Trains</h1>

<%= link_to "<< Back", root_path %>
<%= link_to "New", new_train_path %>
<% if @trains.size != 0 %>
<ul>
    <% @trains.each do |train| %>
    <li>
        <%= link_to train.routing_tag, train_path(train) %>
        <%= link_to "Edit", edit_train_path(train) %>
        <%= link_to "Delete", train_path(train), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        }%>
    </li>
    <% end %>
</ul>
<% else %>
<h4>No trains yet.</h4>
<% end %>