<div class="card mb-3">
  <h5 class="card-header">
      <%= @customer.name %>
  </h5>
  <div class="card-body">

  </div>
</div>

<div class="card">
  <h5 class="card-header">
    <span>Order rules</span>
    <%= link_to new_customer_order_rule_path(@customer), { class: "float-end btn btn-primary" } do %>
      New
    <% end %>
  </h5>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Car type</th>
          <th>Commodity</th>
          <th>Capacity</th>
          <th>Current</th>
          <th>Dropoff (L/E)</th>
          <th>Manutention</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @customer.order_rules.each do |rule| %>
          <tr>
            <td><%= rule.car_type.name %></td>
            <td><%= rule.commodity %></td>
            <td><%= rule.max_cars %></td>
            <td><%= rule.orders.sum(:ordered_count) %></td>
            <td><%= rule.is_loaded ? "Loaded" : "Empty" %></td>
            <td><%= rule.manutention_time %>h</td>
            <td>
              <%= link_to "Edit", edit_customer_order_rule_path(@customer, rule) %>
              <%= link_to "Delete", customer_order_rule_path(@customer, rule), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p class="fs-7">
      Capacity = Maximum cars capacity allowed on the customer track<br />
      Current = Current cars on the track AND enroute
    </p>
  </div>
</div>