<h1>(<%= @customer.shorthand %>)&nbsp;<%= @customer.name %></h1>

<div>
    <span>Railroad:</span>&nbsp;<span><%= @customer.railroad %></span><br>
    <span>Local:</span>&nbsp;<span><%= @customer.local %></span><br>
    <span>Tag:</span>&nbsp;<span><%= @customer.routingTag %></span>
</div>

<h2>Order Rules</h2>
<div>
    <ul>
        <% @customer.order_rules.each do |rule| %>
            <li><%= rule.commodity %></li>
        <% end %>
    </ul>
</div>

<%= link_to "Add new order rule", new_customer_order_rule_path(@customer), class: "btn btn-primary" %>