<h1><%= @customer.name %></h1>
<%= link_to "<< Back", customers_path %>

<h3>Order rules</h3>
<%= link_to "New", new_customer_order_rule_path(@customer) %>

<ul>
<% @customer.order_rules.each do |rule| %>
    <li>
        <%= rule.commodity %> | <%= rule.max_cars %> <%= rule.car_type.name %>
        <%= link_to "Edit", edit_customer_order_rule_path(@customer, rule) %>
        <%= link_to "Delete", customer_order_rule_path(@customer, rule), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        }%>
    </li>
<% end %>
</ul>