<div class="card mb-3">
  <h5 class="card-header">
      <%= @customer.name %>
  </h5>
  <div class="card-body">

  </div>
</div>

<div class="card">
  <h5 class="card-header">
    <span>Order rules</span>
    <%= link_to new_customer_order_rule_path(@customer), { class: "float-end btn btn-primary" } do %>
      New
    <% end %>
  </h5>
  <div class="card-body">
    <ul>
      <% @customer.order_rules.each do |rule| %>
        <li>
          <%= rule.commodity %> | <%= rule.max_cars %> <%= rule.car_type.name %>
          <%= link_to "Edit", edit_customer_order_rule_path(@customer, rule) %>
          <%= link_to "Delete", customer_order_rule_path(@customer, rule), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }%>
        </li>
      <% end %>
    </ul>
  </div>
</div>