<h1>RailManager</h1>

<ul>
    <li><%= link_to "Customers", customers_path %></li>
    <li><%= link_to "Cars Type", car_types_path %></li>
    <li><%= link_to "Trains", trains_path %></li>
    <li><%= link_to "Yards", yards_path %></li>
    <li><%= link_to "Tracks", tracks_path %></li>
    <li><%= link_to "Orders", orders_path %></li>
</ul>