<h1>New order rule</h1>

<%= form_with model: [@customer, @customer.order_rules.build] do |form| %>
    <div>
        <%= form.label :commodity %>:<br>
        <%= form.text_field :commodity %>
    </div>

    <div>
        <%= form.label :dropoff_state %>:<br>
        <%= form.select :dropoff_state, [["Empty", 0], ["Loaded", 1]] %>
    </div>

    <div>
        <%= form.label :pickup_state %>:<br>
        <%= form.select :pickup_state, [["Empty", 0], ["Loaded", 1]] %>
    </div>

    <div>
        <%= form.label :max_cars %>: <br>
        <%= form.number_field :max_cars %>
    </div>

    <div>
        <%= form.label :car_type %>: <br>
        <%= form.collection_select :car_type_id, CarType.order(:type_name), :id, :type_name %>
    </div>

    <%= form.submit %>
<% end %>
  