<!DOCTYPE html>
<html>
  <head>
    <title>RailManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="d-flex flex-nowrap">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <%= link_to dashboard_path, { class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" } do %>
          <span class="fs-4">Rail Manager</span>
        <% end %>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <% if current_page? customers_path %>
              <%= link_to "Customers", customers_path, { class: "nav-link text-white active" } %>
            <% else %>
              <%= link_to "Customers", customers_path, { class: "nav-link text-white" } %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if current_page? yards_path %>
              <%= link_to "Yards", yards_path, { class: "nav-link text-white active" } %>
            <% else %>
              <%= link_to "Yards", yards_path, { class: "nav-link text-white" } %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="b-example-divider m-3">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
